{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维管理系统</title>

<!-- myself css style-->
    <link href="{% static "css/mystyle.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
<div class="nav-image">
    <p class="float-right-welcome">{{ user }}</p>
</div>
<div class="nav-image2"></div>
<div class="nav-body-index1">
    <a href="/web/index/"><button type="button" class="btn btn-success">首页</button></a>
    <a href="/admin" target="_blank"><button type="button" class="btn btn-danger">管理后台</button>	</a>
    <a href="/web/version" target="_blank"><button type="button" class="btn btn-danger">金桐版本管理</button></a>
</div>
{% for title,data1 in data.items %}
<div class="nav-body-box1">
	<div class="nav-body-index">
	{{ title }}
	</div>
	  {% for dic in data1 %}
		{% for key,value in dic.items %}
			<a href="{{ value }}" target="_blank" class="btn btn-primary btn-lg active">{{ key }}</a>
	    {% endfor %}
	  {% endfor %}
</div>
{% endfor %}
</body>
</html>
