{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维管理系统</title>

<!-- myself css style-->
    <link href="{% static "css/mystyle.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<body>
<div class="container">
    <div class="box">
        <h2>Password Reset</h2>
        <form method = 'post' enctype="multipart/form-data">
            {% csrf_token %}
            {{lf.as_p}}
            <input id="fm-login-submit" class="fm-button-login btn-lg" type="submit" value="Commit" />
        </form>
        <br>
    </div>
</div>
</body>
</html>
